elpa
.cask
/#loader_SP.org#~
.mc-lists.el
backups
org-gcal
projectile-bookmarks.eld
recentf
smex-items
srecode-map.el
tramp
abbrev_defs
ac-comphist.dat
anaconda-mode
auto-save-list
backup_loader_SP.org~
loader_SP.org~
init.el~
bookmarks
eshell
network-security.data
scimax
